
.comment {
    margin: 30px 0;
}

.cmd-header {
    display: flex;
    align-items: center;
}

.cmd p {
    margin-left: 50px;
}

.cmd-header img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 7px;
}

.cmd-header h3 {
    font-size: 14px;
    margin-bottom: 2px;
}

.cmd-header h3 span {
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}

.comment .comment-action {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}

.comment .comment-action .action {
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
    margin-left: 50px;
}

.comment-action span {
    color: #5a5a5a;
}

.add-comment>input {
    margin-top: 1.3rem;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.add-comment>hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.cmd_btns {
    display: flex;
    justify-content: end;
}

.cmd_btns>button {
    border: none;
    height: 2.3rem;
    width: 7rem;
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: bold;
}

.btn1 {
    background-color: #f1ebeb;
    color: black;
    cursor: pointer;
}

.btn2 {
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}