.channelRow{
    display: flex;
    align-items: center;
    width: 70%;
}

.channelRow .channelRow_text{
    display: flex;
    flex-direction: column;
}

.channelRow .channelRow_text > p{
    color: #606060 !important;
    font-size: small !important;
}

.channelRow_logo{
    height: 120px !important;
    width: 120px !important;
    margin: 10px 60px;
}

.channel_edit {
    display: flex;
    gap: 10rem;
}

.edit_icon{
    font-size: 10px;
}