.ForgotPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}
.content p{
    font-size: 12.5px;
    margin-top: 1rem;
}
.content{
    justify-content: center;
    border: 1px solid black !important;
    padding: 25px;
    border-radius: 10px;
}
.ForgotPassword input{
    width: 20rem;
    height: 2.3rem;
    margin-top: 1rem;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px black solid;
    padding-left: 8px;
}
.forgotbtn {
    width: 20.5rem;
    height: 2.3rem;
    border-radius: 25px;
    border: 1px black solid;
    margin-top: 5px;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
}

.forgot_success_msg{
    text-align: center;
    color: rgb(18, 228, 18);
    font-weight: bold;
}