.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header_logo {
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
}

.header_input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
    outline: none;
}

.header_input > input {
    flex: 1;
    border: none;
    outline: none;
}

.header_inputButton {
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

.header_icon {
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.video_options {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
    width:8.5rem;
}

.ink-no-style {
    text-decoration: none;
    color: inherit;
}

.click_icons {
    display: flex;
    padding-top: 5px;
}

.click_icons > span {
    margin-left: 10px;
    font-size: 13px;
    margin-top: 3px;
}

.header_icons {
    display: flex;
    align-items: center;
}

.notifications_dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 400px;
    max-height: 540px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
}

.profile_menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 300px;
    max-height: 540px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
}

.notifications_dropdown h3 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.profile_userInfo {
    margin-left: 1rem;
}

.profile_userInfo > P{
    text-decoration: none;
    font-weight: 500;
}

.profile_userInfo .email {
    font-size: 13px;
    font-weight: normal;
    color: #606060; 
    margin-top: 3px;
}

.channel_create{
    margin-top: 10px;
}

.channel_create > p{
    color:rgb(0, 128, 255);
    font-size: 13px;
}

.profile_menu .profile_item {
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile_menu .profile_item:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.profile_menu .profile_icon {
    color: #606060; 
}

.profile_menu .profile_item > span {
    flex: 1;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
}

.profile_menu::-webkit-scrollbar {
    width: 5px;
}

.profile_menu::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

.profile_menu::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 10px;
}
