.PlaylistShortCard {
    max-width: 700px;
    margin-bottom: 10px
}

.short_container img {
    width: 14rem;
    height: 25rem;
    border-radius: 10px;
}

.short_details > h4{
    font-size: 12px;
}