.play-video video {
    width: 100%;
    position: relative;
    border-radius: 10px;

}

.video-container {
    position: relative;
}

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    padding: 10px;
}

.controls-parts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.part-1 {
    display: flex;
}

#seek-bar {
    width: 97.6%;
    margin: 0;
    appearance: none;
    background: linear-gradient(to right, red 0%, #444 0%);
    height: 5px;
    border-radius: 5px;
    outline: none;
}

#seek-bar::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#seek-bar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#seek-bar::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.part-2 {
    margin-right: 1.5rem;
}

.controls button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.mini-player {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 335px;
    height: 180px;
    /* background-color: #1c1c1c; */
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.mini-video-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#mini-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.mini-player-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mini-player:hover .mini-player-controls {
    opacity: 1;
}

.mini-player-controls .close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.mini-player-controls .play-pass {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 8.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.play-pass button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-player-controls button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}

.mini-player-controls #mini-close {
    font-size: 28px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-seek-bar-container {
    width: 90%;
    margin-top: 2.5rem;
    margin-left: 15px;
}

#mini-seek-bar {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(255, 255, 255, 0.5);
    height: 4px;
    border-radius: 2px;
}

.settings-menu {
    position: absolute;
    bottom: 50px;
    color: #000;
    right: 80px;
    background-color: #00000078;
    padding: 10px;
    z-index: 10;
    border-radius: 10px;
}

.settings-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play_fun, .play_fun button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: bold;
    color: #fff;
}


.play_fun label {
    margin-left: 5px;
    font-size: 13px;
}

.play_fun button {
    font-size: 13px;
    margin-left: 50px;
}

.settings-item select{
    margin-left: 10px;
    padding: 5px;
    color: #000;
    border: none;
    outline: none;
}

.play-video h3 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 22px;
}

.play-video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}

.play-video-info .img {
    width: 20px;
    margin-right: 8px;
    cursor: pointer;
}

.play-video-info span {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.play-video hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.publisher {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.publisher div {
    flex: 1;
    line-height: 18px;
}

.publisher img {
    width: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.publisher div p {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.publisher div span {
    font-size: 13px;
    color: #5a5a5a;
}

.publisher button {
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
}

.vid-description {
    padding-left: 55px;
    margin: 15px 0;
}

.vid-description .description {
    background-color: #f1ebeb;
    border-radius: 5px;
    padding: 0.6rem;
}

.vid-description p {
    font-size: 15px;
    margin-bottom: 5px;
    color: #5a5a5a;
}

.vid-description h4 {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}