/* SearchPage.css */
.searchPage {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 20px;
}

.searchPage_filter {
    display: flex;
    align-items: center;
    color: #606060;
    font-size: xx-small !important;
    margin-bottom: 10px;
}

.searchPage_filter > h2 {
    margin-left: 10px;
}

.searchPage hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin: 10px 0;
}

.shorts_section{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 16%;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.shorts-row{
    display: grid;
    padding: 3px;
    grid-template-rows:min-content ;
}