.shorts-container {
  display: flex;
}

.centered-video {
  width: 20rem;
  height: 34rem;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  border: 1px solid black !important;
}

.shorts-video {
  position: relative;
}

.video-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 5px;
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.shorts_icons {
  margin-left: 1rem;
  margin-top: 1.8rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: lightgray;
  margin-top: 1.5rem;
  cursor: pointer;
}

.shorts_icons>p {
  text-align: center;
  margin-top: 3px;
  font-size: 13px;
}

.icon.active {
  background-color: black;
  color: white;
}

.video-title {
  margin-bottom: 1rem;
  font-weight: bold;
}

.channel_details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.shorts_desc {
  padding: 5px;
}

.shorts_btn {
  height: 2rem;
  width: 5rem;
  border-radius: 25px;
  border: none;
}

.short-comments {
  position: absolute;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 400px;
  max-height: 400px;
  /* Adjust the maximum height as needed */
  overflow-y: auto;
  /* Add scrolling functionality */
}

.comments-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comments-section {
  max-height: 300px;
  /* Adjust the maximum height of the comments section as needed */
  overflow-y: auto;
  /* Add scrolling functionality */
}

.comment-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  margin-top: 1rem;
}

.cmd-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.cmd-details {
  flex-grow: 1;
}

.cmd-details p {
  margin: 0;
}

.cmd-details span{
  font-size: 12px;
  color: #666;
} 

.cmd {
  margin-top: 4px;
}

.shortcmd-action {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.shortcmd-action .shortaction {
  cursor: pointer;
  margin-right: 8px;
}

.shortcmd-action span {
  font-size: 14px;
  color: #666;
  margin-right: 12px;
}

.add-shortscomment{
  position: sticky;
}

.shorts-cmd {
  display: flex;
}

.shorts-cmd img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.shorts-cmd input {
  margin-top: 10px;
  outline: none;
  width: 330px;
  border: 0;
}

.shorts-cmd hr{
  margin-top: 5px;
  width: 330px;
}

.shorts-btns {
  margin-top: 5px;
  display: flex;
  justify-content: end;
}

.shorts-btns button{
  height: 30px;
  width: 90px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

.short-btn1{
  margin-right: 10px;
}

.short-btn2{
  background-color: blue;
  color: #fff;
}
