/* ShortCard.css */
.comment-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  transition: transform 0.3s ease;
  position: relative; /* Added to allow absolute positioning of children */
}

.shorts-container {
  flex-shrink: 0; /* Prevent shrinking */
  transition: transform 0.3s ease;
}

.centered-video {
  width: 20rem;
  height: 34rem;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.shorts-video {
  position: relative;
}

.video-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 5px;
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.shorts_icons {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 2px;
  margin-bottom: 5rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 1.5rem;
  cursor: pointer;
}

.shorts_icons > p {
  text-align: center;
  margin-top: 3px;
  font-size: 13px;
  font-weight: bold;
  color: black;
}

.icon.active {
  background-color: black;
  color: white;
}

.video-title {
  margin-bottom: 1rem;
  font-weight: bold;
}

.channel_details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  margin-left: 5px;
}

.channel_details .title {
  margin-left: 1rem;
}

.shorts_desc {
  padding: 5px;
}

.show_comments {
  width: 20rem; /* Same width as the video */
  height: 34rem; /* Same height as the video */
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute; /* Positioned absolutely relative to the container */
  left: 100%; /* Start off-screen to the right */
  top: 0; /* Align with the top of the container */
}

.show_comments.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-100%); /* Move into view */
}

.comment-container.open .shorts-container {
  transform: translateX(-2px); /* Move the shorts to the left when open */
}
