.sidebar {
    flex: 0.2;
    position: relative;
    position: sticky;
    top: 100px;
}

.sidebar > h6{
    margin-left: 1.1rem;
    margin-bottom: 0.5rem;
}

.sidebar > hr{
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ink-no-style {
    text-decoration: none;
    color: inherit;
}
