.Signup {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.signup_content h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Signup .signup_content {
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
}

.signup_content input {
    width: 20rem;
    height: 2.3rem;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px black solid;
    padding-left: 8px;
    font-size: 13px;

}

.signupbtn {
    width: 20.5rem;
    height: 2.3rem;
    border-radius: 25px;
    border: 1px black solid;
    margin-top: 5px;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
}

.sign {
    display: flex;
    justify-content: center;
    margin-top: 1.8rem;
    font-size: 12px;
    font-weight: bold;
}

.sign span {
    color: green;
    margin-left: 2px;
}

.ink-no-style {
    text-decoration: none;
    color: inherit;
}

.password-input-container {
    position: relative;
}

.password-input-container button {
    position: absolute;
    right: 20px;
    top: 40%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.error-message {

    color: red;
    font-size: 12px;
    text-align: center;
    /* Center the text */
    margin-top: -10px;
    margin-bottom: 10px;
    width: 100%;
    /* Ensure it spans the width of the container */

}