.videoCard {
    margin-bottom: 40px;
    width: 260px;
}

.video_text_details{
    display: flex;
}

.videoCard_img {
    height: 140px;
    width: 250px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
}

.videoCard_img_wrapper {
    position: relative;
    display: inline-block;
}

.videoCard_duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 2px;
}

.videocard_info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    max-width: 15.5rem;
}

.videoCard_text {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.videoCard_text>h4 {
    font-size: 15px;
}

.videoCard_text> span {
    font-size: 13px;
    color: gray;
}

.video_feature {
    font-size: 10px;
    color: gray;
    cursor: pointer;
}

.videoCard_avatar>img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle {
    position: relative;
    display: inline-block;
}

.playlist_options {
    position: absolute;
    width: 8rem;
    top: 20px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
}

.playlist_functions{
    position: absolute;
    width: 15rem;
    top: 20px;
    right: 0;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.playlist_functions input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.playlist_functions button {
    background-color: none;
    color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    width: 8.8rem;
    height: 1.5rem;
    font-weight: bold;
}

.playlist_options svg,
.playlist_functions svg {
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.playlist_options svg:hover,
.playlist_functions svg:hover {
    color: #555;
}

.playlist_options span {
    font-size: 12px;
    margin-left: 10px;
    color: black;
}

.create_playlist {
    display: flex;
    align-items: center;
}

.add_playlist {
    display: flex;
    align-items: center;
}

.available_playlists {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 3px;
    margin-top: 5px;
}

.playlist_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.playlist_item > label{
    font-size: 12px;
    color: black;
    margin-left: 10px;

}
.playlist_item input[type="checkbox"] {
    cursor: pointer;
}