.videoRow{
    display: flex;
    margin-bottom: 30px;
    max-width: 700px;
    gap: 1rem;
    margin-top: 2rem;
}
.videoRow_img_wrapper > img {
    object-fit: cover;
    width: 246px;
    height: 138px;
    border-radius: 10px;
    cursor: pointer;
}
.videoRow_headline{
    font-size: 12px;
    color: #606060;
}
.videoRow_sub{
    background-color: lightgray;
    padding: 2px;
}
.videoRow_img_wrapper {
    position: relative;
    display: inline-block;
}

.videoRow_duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 2px;
}

.video_desc{
    margin-top: 0.5rem;
    font-size: 13px;
}